#header, #navContainer, #secondaryNav, #sharePopup {
  display: none !important;
}
#header.MRMshow, #navContainer.MRMshow, #secondaryNav.MRMshow, #sharePopup.MRMshow {
  display: block !important;
}

/* Reset */
html {
  color: #000;
  background: #FFF;
}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td {
  margin: 0;
  padding: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
fieldset,img {
  border: 0;
}
address,caption,cite,code,dfn,em,strong,th,var {
  font-style: normal;
  font-weight: normal;
}
li {
  list-style: none;
}
caption,th {
  text-align: left;
}
h1,h2,h3,h4,h5,h6 {
  font-size: 100%;
  font-weight: normal;
}
q:before,q:after {
  content: '';
}
abbr,acronym {
  border: 0;
  font-variant: normal;
}
sup {
  vertical-align: text-top;
}
sub {
  vertical-align: text-bottom;
}
input,textarea,select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}
input,textarea,select {*font-size:100%;
}
legend {
  color: #000;
}

/* Hide Elements */
#topAd, #sideAd, #right, #contentAd, #MRM_right #search, #content > .pagination:first-child {
  display: none !important;
}

/* Begin MacRumorsMinimal Styles */
body, #mainContainer {
  width: 966px !important;
  padding: 0px !important;
  margin: 0px !important;
  background: #ffffff !important;
}
body {
  font-size: 13px !important;
  line-height: 21px !important;
  color: #252525 !important;
  -webkit-font-smoothing: antialiased !important;
  margin: 120px auto 60px auto !important;
}
a {
  color: #36C !important;
}
a:hover {
  color: #039 !important;
}
#wrapper {
  overflow: hidden !important;
}
#content {
  width: 675px !important;
  margin: 0px !important;
  margin-right: 40px !important;
  padding: 0px !important;
  float: left !important;
}
center {
  text-align: left !important;
}
body, .article, #mainContainer, .article h2, h1, h2, h3, h4, h5, h6, p, div, * {
  font-family: "Helvetica Neue", helvetica, arial, sans-serif !important;
}

/* Articles */
#content .article {
  border: none !important;
}
.article,
.article.blog {
  margin-bottom: 60px !important;
}
.article .title,
.article .byline,
.article .content,
.article .footer,
.article .comments,
.article.blog .title,
.article.blog .byline,
.article.blog .content,
.article.blog .footer,
.article.blog .comments {
  border: none !important;
  padding: 0px !important;
  margin: 0px !important;
  background: white !important;
}
.article h1.title,
.article h1.title a,
.article h1.title a:hover,
.article h2.title,
.article h2.title a,
.article h2.title a:hover,
.article.blog h2.title,
.article.blog h2.title a,
.article.blog h2.title a:hover {
  background-color: transparent!important;
  font-size: 24px !important;
  line-height: 30px !important;
  font-weight: normal !important;
  color: #333 !important;
  border: none !important;
}
.article .byline,
.article.blog .byline {
  color: #777 !important;
  margin: 0px !important;
  margin-bottom: 10px !important;
  padding: 0px !important;
  text-align: left !important;
  font-size: 11px !important;
  line-height: 21px !important;
}
.article .byline:before,
.article.blog .byline:before {
  content: 'Posted on ';
}
.article img.aligncenter,
.article.blog img.aligncenter {
  margin: 0px !important;
  text-align: left !important;
}
.article .content,
.article .content p,
.article .content div,
.article .content b,
.article .content em,
.article .content strong,
.article.blog .content,
.article.blog .content p,
.article.blog .content div,
.article.blog .content b,
.article.blog .content em,
.article.blog .content strong {
  color: #252525 !important;
}
.article .content p.quote,
.article.blog .content p.quote {
  line-height: 21px !important;
  background: transparent !important;
  padding-left: 0px !important;
}
.article .content p.quote b,
.article.blog .content p.quote b {
  font-style: normal;
}
.article .footer,
.article.blog .footer {
  margin-top: 15px !important;
  overflow: hidden !important;
}
.article .footer .comments a,
.article.blog .footer .comments a {
  padding-left: 24px !important;
  line-height: 16px !important;
  height: 16px !important;
  padding-bottom: 1px !important;
}
.article.blog .footer .comments {
  color: white !important;
  position: relative !important;
  left: -7px !important;
}
.article .footer .social iframe,
.article.blog .footer .social iframe {
  margin-left: 10px !important;
}

/* Sidebar */
#navContainer,
#secondaryNav,
#header {
  height: auto !important;
  background: #ffffff !important;
  margin: 0px !important;
  padding: 0px !important;
}
#header #logo {
  position: static !important;
}
#header #logo a img {
  display: none !important;
}
#header #logo a {
  margin: 0px !important;
  padding: 0px !important;
  width: 250px !important;
  height: 61px !important;
  display: block !important;
  padding-bottom: 10px !important;
  border-bottom: solid 1px #ddd !important;
}
#MRM_right {
  float: right !important;
  width: 250px !important;
  font-size: 12px !important;
}
#nav, #nav li, #nav li a {
  padding: 0px !important;
  margin: 0px !important;
  list-style: none !important;
  background: #ffffff !important;
}
#nav {
  position: static !important;
}
#nav li a {
  background: transparent !important;
  display: block !important;
  padding: 5px 10px !important;
  height: auto !important;
  color: #444 !important;
  font-weight: normal !important;
  text-decoration: none !important;
  font-size: 13px !important;
}
#nav li.active a {
  font-weight: bold !important;
}
#nav li a:hover {
  text-decoration: underline !important;
}
#nav li {
  border-bottom: solid 1px #ddd !important;
  float: none !important;
}
#secondaryNav .left,
#secondaryNav .right {
  font-size: 13px !important;
  padding: 0px !important;
  margin: 0px !important;
  float: none !important;
  text-align: left !important;
  padding: 5px 10px !important;
  border-bottom: solid 1px #ddd !important;
  color: #444 !important;
}

#fNew {
  width: 966px !important;
  padding: 0px !important;
  margin: 0px !important;
  padding-top: 35px !important;
  border-top: solid 5px #e0e0e0 !important;
}
#fNew a {
  color: #666 !important;
}
#fNew a:hover {
  color: #333 !important;
}
#fNew a#advertiseLink {
  color: white !important;
  background: #36C !important;
}
#fNew, #fRight {
  background: white !important;
}
#fLeft,
#fLeft p,
#fLeft div {
  font-size: 12px !important;
  color: #252525 !important;
}
#fLeft > p {
  line-height: 17px !important;
}
#fRight {
  border-left: solid 5px #e0e0e0 !important;
}
.other_site li a {
  border-bottom: solid 2px #e0e0e0 !important;
  padding: 10px 0px !important;
}
.other_site ul li:last-child a {
  border: none !important;
}

.pagination .center {
  display: none !important;
}
.pagination .left,
.pagination .right {
  width: 48% !important;
  margin: 0px !important;
  padding: 0px !important;
  left: auto !important;
  right: auto !important;
}
.pagination .left {
  right: 0px !important;
}
.pagination .right {
  left: 0px !important;
}
.pagination .left a,
.pagination .right a,
.pagination .disabled {
  display: block !important;
  margin: 0px !important;
  padding: 10px 0px !important;
  width: 100% !important;
  background: #36C !important;
  color: white !important;
  text-align: center !important;
  height: auto !important;
  border-radius: 6px !important;
}
.pagination .left a:hover,
.pagination .right a:hover {
  background: #3079FF !important;
}
.pagination .disabled {
  width: 48% !important;
  opacity: 0.3 !important;
}

/* Fix for new flash ad banner - 2013-01-18 */
#topAdb {
  left: 0 !important;
  top: -110px !important;
}
